@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* home styles */
.home {
    overflow: hidden;
}

.hero {
    background-image: url('./images/hero-red.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}

.mid-page {
    min-height: 60vh;
}

.top-image {
    z-index: 1;
    height: auto;
    min-width: 43.75rem;
    max-width: 50rem;
    position: absolute;
    margin-top: 5em;
    margin-left: 5em;
}

/* login & logout page styles */

.login-logout {
    background-image: url('./images/rock-climbing.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 92.5vh;
    margin: 0;
}

.login-input::placeholder {
    color: black;
}

.login-input {
    color: black;
    padding: 0.5rem;
}

/* profile styles */
.profile {
    background-image: url('./images/basketball-sunset.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 91vh;
    overflow: auto;
    margin: 0;
}

.club-event-profile {
    min-width: 60vw;
}

.profile-header {
    font-family: 'Fasthand', cursive;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}