@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* home styles */
.home {
    overflow: hidden;
}

.hero {
    background-image: url('./images/hero-red.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
}

/* login & logout page styles */

.login-logout {
    background-image: url('./images/rock-climbing.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 92.5vh;
    margin: 0;
}

.login-input::placeholder {
    color: black;
}

.login-input {
    color: black;
    padding: 0.5rem;
}

/* profile styles */
.profile {
    background-image: url('./images/basketball-sunset.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 91vh;
    overflow: auto;
    margin: 0;
}


.profile-header {
    font-family: 'Fasthand', cursive;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* club styles */
.modal-input::placeholder {
    color: white;
}

/* create club styles */
.create-club {
    background-image: url('./images/sunset-sport.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 91vh;
    overflow: auto;
    margin: 0;
}

.clubs-category {
    background-image: url('./images/sunset-bike.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 91vh;
    overflow: auto;
    margin: 0;
}

.club-details {
    background-image: url('./images/martial-arts-sunset.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 91vh;
    overflow: auto;
    margin: 0;
}

/* search events styles */
.search-events {
    background-image: url('./images/kayake-sunset.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 91vh;
    overflow: auto;
    margin: 0;
}

.search-event-input {
    color: black;
}

.search-event-input::placeholder {
    color: black;
}

/* event page styles */
.event-page {
    background-image: url('./images/surfer-sunset.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 91vh;
    overflow: auto;
    margin: 0;
}